@font-face {
  font-family: 'Sriracha', cursive;
  font-style: normal;
  font-weight: normal;
  src: local('Sriracha'), url('Sriracha-Regular.ttf') format('ttf');
}

.App__context {
  user-select: none;
  font-family: 'Sriracha', cursive;
  font-weight: 200;
  text-shadow: 4px 4px 4px #aaa;
}
.App__logo {
  width: 50px;
}
